
.com_article .kutu .body{
    padding: 5px;
    text-align: justify;
    text-indent: 20px;
}

.com_article .kutu .body .resim{
    float: left;
    padding: 5px;
    border: 1px solid #CCCCCC;
    width: 300px;
    margin-right: 10px;
}


.com_article .hit_tarih{
    position: absolute;
    left: 30px;
    bottom: 5px;
    padding: 5px;
    font-size: 12px;
    font-style: italic;
    color: #afafaf;
}

