.TBar{
	position:relative;
	background-color: #FF8700;
	width: 100%;
	background-color: #FF8700;
}

.TButton{
	position:relative;
	min-width: 75px;
	height: 48px;
	line-height: 48px;
	float: right;
	border-left: 1px solid #B4490F;
	text-align: center;
	cursor: pointer;
}

.TButton .glyphicon{
	font-size: 20px!important;
	margin-top: 10px!important;
}

.TButton .TBtext{
	font-size: 10px!important;
	line-height: 15px;
}



.TButton:hover{
 	background-color: #B4490F;
	color	: #FF8700;
}