.dokuman_yonetimi{
    padding: 50px;
}
.dokuman_yonetimi .branslar{
    width: 100%;
    min-height: 400px;
    border: 1px solid #e5e5e5;
}

.dokuman_yonetimi .branslar .brans_kutu{
    float: left;
    display: block;
    width: 250px;
    height: 30px;
    border: 1px solid #e5e5e5;
    margin: 5px;
    padding: 5px;
    line-height: 15px;
}
.dokuman_yonetimi .branslar .brans_kutu:hover{
    background-color: #e2dde7;
}


.dokuman_yonetimi .upload_progres{
    width           : 31px;
    height          : 31px;
    background-image: url("../images/uploading.gif");
}



.dokuman_yonetimi .sinif{
    width           : 75px!important;
}

